/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

#filtered-icons {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.card {
    width: 200px;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.card i {
    font-size: 30px;
    padding-bottom: 20px;
}

#container h3 {
    text-transform: uppercase;
}